:root{
	--primary:#00c721;
	--secondary:#006010;
	--teriaty:#ffb595;
	--fourth:rgba(254,141,91, .5);
	--white:#f5f5f5;
}
*{
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: quicksand;
}
/* body::-webkit-scrollbar{
	display: none;
} */
body{
    margin: 0 auto;
}
html{
	scroll-behavior: smooth;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .7);
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: solid .5px var(--secondary);
}
h2{
	color: var(--white);
	font-size: 20px;
}
ul.links{
    list-style-type: none;
	display: flex;
    justify-content: center;
	align-items: center;
    height: 50px;
    transition: all ease .5s;
}
li{
    padding-top: 15px;
    text-align: center;
    height: inherit;
	width: 70px;
	color:var(--white);
	margin:0 5px;
	font-size: 13px;

}
li:hover{
	padding-top: 15px;
	border-bottom: solid 3px var(--primary);
	cursor: pointer;
}
.mini-icon{
	width: 35px;
	height: 35px;
}
#menu{
    display: none;
}
.menu{
    display: none;
    width: 24px;
    height: 23px;
    background-image: url(src/menu.png);
    background-position: center;
    background-size: cover;
    margin: 0 10px;
}
.back{
	height: 160px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	background-image: linear-gradient(to right,rgba(0, 0, 255, 0),rgba(0, 32, 2,.5),rgba(238, 130, 238, 0));
}
.brandbig{
	width: 500px;
	height: 70px;
	filter: drop-shadow( 2px 2px 10px rgb(0, 0, 0));
}
.frontpage{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("src/fback.png");
	background-size: 100%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
h1{
	font-size: 120px;
}
h1,h2.brand{
	color:var(--primary);
}
h1.brand2{
	color:var(--white);
}
.brnd{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 50px;
    margin: 0 10px;
}
.brnd2{
    margin: auto;
    height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
    width: 1300px;
}
h3.tagline{
	color: rgb(234, 255, 220);
	font-size: 14px;
	text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

button.si,.su,.q{
	width: 200px;
	height: 40px;
	border:none;
	border-radius:100px;
	background-color:#03AC13;
	color:rgb(0,30,0); 
	font-size: 18PX;
	font-weight: bold;
}
a.enter{
	position: absolute;
	bottom: 100px;
	width: 150px;
	height: 40px;
	font-size: 14px;
	background-color:rgb(13, 148, 13);
	border-radius: 25px;
	border: solid 1px white;
	color: white;
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
}
a.enter:hover{
	background-color: #00500d;
}
/* picture.soil{
	position: absolute;
	bottom: 0px;
	background-image: url("src/soil.png");
	width: 100%;
	height: 100px;
} */
.foot::before{
	position: absolute;
	content: '';
	top: -100px;
	left: 0;
	background-image: url("src/soil.png");
	width: 100%;
	height: 100px;
}
.foot{
	position: relative;
	width: 100%;
	height: 160px;
	background-image: url("src/soilnew.png") ;
	display: flex;
	align-items: center;
	justify-content: center;
}
.note{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 500px;
	height: 60px;
}
.n{
	flex-direction: column;
}
.noteh2{
	color: var(--white);
	font-size: 16px;
}
.noteh3{
	color: var(--teriaty);
	font-size: 14px;
}
.btn{
	text-indent: 20px;
	color: #fab89c;
	width: 180px;
	margin: 5px;
	height: 40px;
	background-color: transparent;
	border: 1px solid snow;
	border-radius: 25px;
}
.subs{
	background-image: url(src/icon2.png);
	background-repeat: no-repeat;
	background-size: 30px,30px;
	background-position: 25px, 20px;
}
.cont{
	background-image: url(src/ca.png);
	background-repeat: no-repeat;
	background-size: 30px,30px;
	background-position: 25px, 20px;
}


/* -------------------------------------- */
.modal{
    position: fixed;
    top: 0px;
    left:0px;
	z-index: 3;
    height: 100vh ;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 27, 0, 0.945);
	
}
.fillup{
    background-image: url(src/form-back.png);
    background-size: 100%, 100%;
    margin: 20px;
	position: relative;
	background-color: whitesmoke;
	border-radius: 8px;
	border: 1px solid green;
}
.subsnote{
    font-size: 13px;
    text-align: center;
    margin-bottom:20px ;
}
.tabs{
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tab{
	height: 100%;
	width: 100%;
	border: none;
	background-color: whitesmoke;
}
.tab-active{
	background-color: darkgreen;
    color: whitesmoke;
}
.tab:hover{
	background-color: rgb(209, 209, 209);
	transition: ease .5s;
}
.subsbtn{
	border-radius: 8px 0 8px 0;
}
.contbtn{
	border-radius: 0 8px 0 8px;
}
.subscribe-form{
    display: none;
    background-color: transparent;
	padding: 10px 20px;
    max-width: 500px;
	min-width: 300px;
	height:300px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.contact-form{
    background-color: transparent;
	padding: 10px 20px;
    max-width: 500px;
	min-width: 300px;
	height:300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
.tab-btn{
	width: 60%;
	height: 40px;
	border-radius:25px;
	border: none;
	background-color: green;
	color: white;
	margin: 10px 0;
}
label{
	font-size: 13px;
	text-align: left;
	width: 100%;
	color: green;
}
#textb, #tarea{
	margin-bottom: 8px;
	border: gray 1px solid;
	padding: 3px 10px;
}
#textb{
	height: 30px;
	width: 100%;
}
#tarea{
	height: 100px;
	width: 100%;
}
.exit{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -40px;
	width: 30px;
	height: 30px;
	border-radius: 25px;
	background-color: transparent;
	color: gainsboro;
	border: 1px solid gainsboro;
	font-size: 18px;
}

@media(max-width:1200px){
    .menu{
        display: block;
    }
	.modal{
		height: 100vh;
	}
    ul.links{
        position: fixed;
        top: 50px;
        left:-100vw;
        height: 100vh;
        width: 100vw; 
        display: flex;
        flex-direction: column;
        justify-content: start;
        z-index: 1;
        background-color: #000f03f6;
    }
    li{
        height: 50px;
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
    }
    li:hover{
        padding-top: 15px;
        border: none;
        width: 100%;
        background-color: rgb(1, 34, 1);
        cursor: pointer;
    }
    nav{
		z-index: 2;
        background-color: #000f03f6;
        border: none;
    }
    .brandbig{
        width: 350px;
        height: 50px;
    }
    h3.tagline{
        font-size: 12px;
    }
    .foot{
        display: flex;
        flex-direction: column;
    }
    .note{
        gap: 3px;
	width: 100%;
    }
    .noteh2{
        font-size: 13px;
    }
    .noteh3{
        font-size: 13px;
    }
	.btn{
		width: 150px;
		margin: 5px;
		height: 35px;
	}
	.subs{
		background-size: 20px,20px;	
	}
	.cont{
		background-size: 20px,20px;
	}

}
